@*@model AspNetCoreAjaxModal.Models.TransactionModel*@

@model AspNetCoreAjaxModal.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
    var photoPath = "~/images/" + (Model.TransactionModel.PhotoPath ?? "noimage.png");
}

<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="AddOrEdit" asp-route-id="@Model.TransactionId"
              onsubmit="return ajaxSave(this);" autocomplete="off">
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
            <input type="hidden" asp-for="TransactionId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BeneficiaryName" class="control-label"></label>
                        <input asp-for="BeneficiaryName" class="form-control" />
                        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AccountNumber" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">#</div>
                            </div>
                            <input asp-for="AccountNumber" class="form-control" />
                        </div>
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BankId" class="control-label">Bank</label>
                        <select asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"></select>
                        <span asp-validation-for="BankId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SwiftCode" class="control-label"></label>
                        <input asp-for="SwiftCode" class="form-control" />
                        <span asp-validation-for="SwiftCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input asp-for="Amount" class="form-control text-center" type="number" />
                        </div>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TransactionDateTime" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <input asp-for="TransactionDateTime" class="form-control" type="text" id="dt_picker" />
                            <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row py-1">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-7">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" onchange="ShowFileNameInInput(this)" />
                        <label class="custom-file-label text-black-50">Choose File...</label>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="@photoPath"
                             class="border border-secondary img-thumbnail rounded mx-auto d-block" 
                             style="width:60px;height:60px" alt="..."
                             asp-append-version="true">
                    </div>
                </div>
            </div>

            <div class="form-group pt-2">
                <input type="submit" value="Save" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    </script>
}
